
backend/.vs/

backend/DataAnalysisHackathonBackend/obj/

backend/DataAnalysisHackathonBackend/bin/

frontend/.env.development

backend/DataAnalystBackend/obj/

backend/DataAnalystBackend.MessageProcessorService/obj/

backend/DataAnalystBackend.Shared/obj/

agent/data_analyst_agent/.env

agent/data_analyst_agent/__pycache__/

agent/api/__pycache__/

backend/DataAnalystBackend/bin/

backend/DataAnalystBackend.MessageProcessorService/bin/

backend/DataAnalystBackend.Shared/bin/

agent/.env

agent/data_analyst_agent/shared/__pycache__/

agent/data_analyst_agent/shared/custom_agents/__pycache__/
